<% include ../include/head.ejs %>

    <div class="container">
    	<h1><%= title %></h1>
    	<p>Welcome to <%= des %></p>
    	<div class="row movie-row">
			<a href="/" class="btn btn-info pull-right">go home</a>
		</div>
		<div class="row">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<td>用户名</td>
						<td>密码</td>
						<td>录入时间</td>
						<td>更新时间</td>
						<td>删除</td>
					</tr>
				</thead>
				<tbody>
					<% if(users.length){ %>
						<% users.forEach(function(item){ %>
						<tr class="item-id-<%= item._id %>">
							<td><%= item.name %></td>
							<td><%= item.password %></td>
							<td><%= moment(item.meta.createdAt).format('YYYY-MM-DD') %></td>
							<td><%= moment(item.meta.updateAt).format('YYYY-MM-DD') %></td>
							<td>
								<button class="btn btn-danger del" type="button" data-id="<%= item._id %>">删除</button>
							</td>
						</tr>
						<% }) %>
					<% } %>		
				</tbody>
			</table>
		</div>	
    </div>

	<script src="/javascripts/listedit.js"></script>
  	
<% include ../include/foot.ejs %>